* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'JetBrains Mono', normal;
    font-family: 'Montserrat Alternates' normal;
}

html {
    scroll-behavior: smooth;
}

.header {
    height: 171px;
}

.section-head {
    height: 838px;
}

.logo {
    margin-left: 150px;
    margin-top: 61px;
    position: absolute;
}

.home {
    display: inline-block;
    margin-left: 368px;
    margin-top: 105px;
    position: relative;

    width: 93px;
    height: 33px;

    font-family: 'JetBrains Mono', normal;
    font-weight: 500;
    font-size: 22px;

    text-decoration: none;
    color: #747474;
}

.home:hover {
    color: black;
    font-weight: 700;
    transition: 0.1s linear;
}

.footer-menu-rec {
    position: absolute;

    width: 77px;
    height: 6px;
    background-color: #45C17D;

    border-radius: 38px;
    margin-left: 376px;
    margin-top: -12px;
}

.gymnasium {
    display: inline-block;
    margin-left: 60px;
    position: relative;

    width: 105px;
    height: 33px;

    font-weight: 500;
    font-size: 22px;

    text-decoration: none;
    cursor: pointer;
    color: #747474;
}

.gymnasium:hover {
    color: black;
    font-weight: 700;
    transition: 0.1s linear;
}

.achievements {
    display: inline-block;
    margin-left: 60px;
    position: relative;


    width: 132px;
    height: 29px;

    font-weight: 500;
    font-size: 22px;

    text-decoration: none;
    cursor: pointer;
    color: #747474;
}

.achievements:hover {
    color: black;
    font-weight: 700;
    transition: 0.1s linear;
}

.parents {
    display: inline-block;
    margin-left: 60px;
    position: relative;


    width: 119px;
    height: 29px;

    font-weight: 500;
    font-size: 22px;

    text-decoration: none;
    cursor: pointer;
    color: #747474;
}

.parents:hover {
    color: black;
    font-weight: 700;
    transition: 0.1s linear;
}

.other {
    display: inline-block;
    margin-left: 60px;
    position: relative;

    width: 80px;
    height: 29px;

    font-weight: 700;
    font-size: 22px;

    text-decoration: none;
    cursor: pointer;
    color: #000;
}

.language {
    display: inline-block;
    margin-left: 285px;
    position: relative;

    width: 48px;
    height: 26px;

    font-weight: 500;
    font-size: 20px;
    color: #000000;

    cursor: pointer;
}

.triangle_language {
    width: 0;
    height: 0;

    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 14px solid #188248;

    position: relative;
    display: inline-block;
    margin-left: 5px;
    border-radius: 2px;

    cursor: pointer;
}

.information_btn {
    border: 3.8px solid #188248;
    border-radius: 20px;

    margin-left: 24px;
    padding-top: 14px;
    padding-left: 17px;
    padding-bottom: 15px;
    padding-right: 17px;

    font-family: 'Montserrat Alternates';
    font-size: 20px;
    font-weight: 500;
    color: #188248;
    background-color: #ffffff;

    position: relative;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

.information_btn:hover {
    background-color: #188248;
    color: #fff;
    transition: 0.1s linear;
}

.rectangle_top {
    position: absolute;
    width: 1620px;
    height: 787px;
    left: 150px;
    top: 222px;
    margin: 0;
    z-index: 1;

    background: rgba(84, 130, 102, 0.32);
    border-radius: 50px;
}












/* SECTION */
.schedule-title {
    width: 261px;
    height: 50px;

    font-family: "Montserrat", normal;
    font-weight: 800;
    font-size: 39px;

    margin-top: 114px;
    margin-left: 830px;
}

.schedule-subtitle {
    width: 262px;
    height: 50px;

    font-family: "Montserrat", normal;
    font-weight: 600;
    font-size: 39px;

    margin-top: 54px;
    margin-left: 832px;

    color: #45C17D;
}

.schedule01-img {
    border: 7px solid #45C17D;
    border-radius: 25px;
    margin-top: 75px;
    margin-left: 745px;
}








/* FOOTER */
.footer {
    background-color: #116738;
    border-radius: 57px 57px 0px 0px;

    width: 1903px;
    height: 613px;
    margin-top: 229px;
    position: absolute;
}

/* navigation container */
.navigation-container {
    width: 154px;
    height: 203px;
    position: absolute;
    margin-left: 181px;
    margin-top: 69px;

}

.navigation {
    width: 166px;
    height: 34px;

    font-family: 'Montserrat', normal;
    font-weight: bold;
    font-size: 28px;
    color: #fff;
}

.gymnasium-footer {
    width: 96px;
    height: 30px;

    font-family: 'JetBrains Mono', normal;
    font-weight: normal;
    font-size: 20px;
    color: #fff;

    margin-left: 29px;
    margin-top: 30px;

    cursor: pointer;
}

.gymnasium-footer1 {
    text-decoration: none;
}

.awwwards {
    width: 120px;
    height: 30px;

    font-family: 'JetBrains Mono', normal;
    font-weight: normal;
    font-size: 20px;
    color: #fff;

    margin-left: 17px;
    margin-top: 7px;

    cursor: pointer;
}

.awwwards1 {
    text-decoration: none;
}

.parents-footer {
    width: 108px;
    height: 30px;

    font-family: 'JetBrains Mono', normal;
    font-weight: normal;
    font-size: 20px;
    color: #fff;

    margin-left: 23px;
    margin-top: 7px;

    cursor: pointer;
}

.parents-footer1 {
    text-decoration: none;
}

.teachers-footer {
    width: 96px;
    height: 30px;

    font-family: 'JetBrains Mono', normal;
    font-weight: normal;
    font-size: 20px;
    color: #fff;

    margin-left: 29px;
    margin-top: 7px;
    cursor: pointer;

    cursor: pointer;
}

.teachers-footer1 {
    text-decoration: none;
}

.information-footer {
    margin-left: 516px;
    margin-top: 69px;
    position: absolute;
}

.information-title {
    width: 355px;
    height: 32px;

    font-family: 'Montserrat', normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    color: #fff;
}

.information-text {
    width: 318px;
    height: 150px;

    color: #fff;
    font-family: 'JetBrains Mono';
    font-style: regular;
    font-weight: normal;
    font-size: 20px;

    line-height: 30px;
    letter-spacing: 0.01em;

    text-align: center;
    margin-top: 30px;
    margin-left: 19px;
}



.other-footer {
    margin-left: 996px;
    margin-top: 69px;

    width: 324px;
    height: 233px;
    position: absolute;
}

.other-footer-title {
    color: #fff;

    width: 107px;
    height: 32px;

    margin-left: 108.5px;

    font-family: 'Montserrat', normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
}

.organization-information {
    width: 324px;
    height: 60px;

    text-align: center;
    margin-top: 30px;
    line-height: 30px;

    font-family: 'JetBrains Mono', normal;
    font-weight: normal;
    font-size: 20px;
    color: #fff;

    cursor: pointer;
}

.organization-information1 {
    text-decoration: none;
}

.other-documentation {
    width: 108px;
    height: 30px;

    text-align: center;
    margin-top: 7px;
    margin-left: 108px;
    line-height: 30px;

    font-family: 'JetBrains Mono', normal;
    font-weight: normal;
    font-size: 20px;
    color: #fff;

    cursor: pointer;
}

.other-documentation1 {
    text-decoration: none;
}

.food-organization-footer {
    width: 228px;
    height: 30px;

    text-align: center;
    margin-top: 7px;
    margin-left: 48px;
    line-height: 30px;

    font-family: 'JetBrains Mono', normal;
    font-weight: normal;
    font-size: 20px;
    color: #fff;

    cursor: pointer;
}

.food-organization-footer1 {
    text-decoration: none   ;
}

.admission-src {
    width: 264px;
    height: 30px;

    text-align: center;
    margin-top: 7px;
    margin-left: 30px;
    line-height: 30px;

    font-family: "JetBrains Mono", normal;
    font-weight: normal;
    font-size: 20px;
    color: #fff;

    cursor: pointer;
}

.admission-src1 {
    text-decoration: none;
}

.olimp-footer-src {
    width: 108px;
    height: 30px;

    text-align: center;
    margin-top: 7px;
    margin-left: 108px;
    line-height: 30px;

    font-family: "JetBrains Mono", normal;
    font-weight: normal;
    font-size: 20px;
    color: #fff;

    cursor: pointer;
}

.olimp-footer-src1 {
    text-decoration: none;
}

.media-footer-src {
    width: 108px;
    height: 30px;
    
    text-align: center;
    margin-top: 7px;
    margin-left: 108px;
    line-height: 30px;

    font-family: "JetBrains Mono", normal;
    font-weight: normal;
    font-size: 20px;
    color: #fff;

    cursor: pointer;
}

.media-footer-src1 {
    text-decoration: none;
}

.educational-programs {
    width: 300px;
    height: 30px;

    text-align: center;
    margin-top: 7px;
    margin-left: 12px;
    line-height: 30px;

    font-family: "JetBrains Mono", normal;
    font-weight: normal;
    font-size: 20px;
    color: #fff;

    cursor: pointer;
}

.educational-programs1 {
    text-decoration: none;
}

.GIA {
    width: 36px;
    height: 30px;

    text-align: center;
    margin-top: 7px;
    margin-left: 144px;
    line-height: 30px;

    font-family: "JetBrains Mono", normal;
    font-weight: normal;
    font-size: 20px;
    color: #fff;

    cursor: pointer;
}

.GIA1 {
    text-decoration: none;
}


.contacts-footer {
    width: 318px;
    height: 269px;

    margin-left: 1444px;
    margin-top: 69px;
    position: absolute;
}

.link-footer-title {
    width: 247px;
    height: 32px;

    margin-left: 36px;

    font-family: 'Montserrat', normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    color: #fff;
}

.social-networks-footer {
    width: 318px;
    height: 112px;

    font-family: 'JetBrains Mono', normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;

    color: #fff;

    margin-top: 30px;
}


/* SOCIAL NETWORKS */

/* Telegram */
.telegram-footer-group {
    margin-top: 49px;
    margin-left: 60px;
    position: absolute;
}

.telegram-footer-elipse {
    width: 46px;
    height: 46px;
    border-radius: 100px;

    background-color: #fff;
}

.telegram-icon {
    margin-top: 12px;
    margin-left: 8px;
}

/* Instagram */
.instagram-footer-group {
    margin-top: 49px;
    margin-left: 136px;
    position: absolute;
}

.instagram-footer-elipse {
    width: 46px;
    height: 46px;
    border-radius: 100px;

    background-color: #fff;
}

.instagram-icon {
    margin-top: 12px;
    margin-left: 12px;
}

/* VK */
.vk-footer-group {
    margin-top: 49px;
    margin-left: 212px;
    position: absolute;
}

.vk-footer-elipse {
    width: 46px;
    height: 46px;
    border-radius: 100px;
    
    background-color: #fff;
}

.vk-icon {
    margin-top: 16px;
    margin-left: 11px;
}


/* ALL RIGHTS RESERVED */
.rights-reserved-footer {
    margin-left: 623px;
    margin-top: 551px;

    width: 675px;
    height: 24px;

    font-family: 'Montserrat', normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #E1E1E1;
}